.logo-img {
    height: 100px;
}

#website-name{
    font-family: 'Lora', serif;
    font-size: 30px;
}

#nav-addnew:hover {
    color: black;
}

#nav-mywatch:hover {
    color: black;
}

/* watch card */
.watch-card {
    width: 18rem;
    margin-bottom: 10px;
    margin-right: 10px;
    display: column;
}

.cards {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .cards {
      flex-direction: column;
    }
  }

.card-img-top {
    object-fit: cover;
    height: 18rem;
}

.card-body {
    height: 12rem;
    overflow: hidden;
}

.button-card {
    background-color: #2e2e3a;
}
.navbar {
    background-color: white !important; 
}

/* detail page */

.detail-container {
    margin: 20px 20px 0 0;
    border: 5px solid #333;
    overflow: auto;
}

.detail-img {
    float: left
}

.detail-img img {
    display: block;
}

.detail-content {
    margin-left: 210px;
    padding-top: 50px;
}

#watchDetailPhoto {
    display: block;
    /* height: 100%; */
    /* left: 0;
    position: absolute;
    top: 0;
    width: 100%; */
    max-width :600px;
    max-height:600px;
    padding-left: 50px;
}

.button--primary{
    background-color: #2e2e3a;
    border-color: transparent;
    color: white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: 50%;
    height: 50%;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.specs-table {
    height: 20px;
    width: 50px;
}

.specs-name {
    height: 20px;
    font-weight: bold;
}

.specs-detail{
    height: 20px;
}

