input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0rem;
  }

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}