input[type=text] {
    background: transparent;
    border: 0 !important;;
    border-bottom: 2px solid #000000 !important;
    color: white!important;
    display: block;
    border-radius: 0rem;
    outline-width: 0 !important;
    outline: none !important;
    box-shadow: none;
    letter-spacing: 0.1rem;
  }

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: none;
    
}

/* @font-face {
  font-family: "myFont";
  font-weight: 900;
  src: url('./fonts/romans.otf') format('opentype');
} */


